*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display:flex;
    padding:20px;
    align-items:center;

}
nav{
    flex:1;
    text-align:right;

}
nav ul{
    display:inline-block ;
    list-style-type:none;

}
nav ul li{
    display:inline-block ;
    margin-right:20px;
}
a{
    text-decoration:none;
    color:black;

}
p{
    color:black;
}
.container{
    max-width:1300px;
    padding-right:25px;
    padding-left:25px;
    margin:auto;

}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-round;
}
.col-2{
    flex-basis:50%;
    min-width:300px;
}
.col-2 img{
    max-width:100%;
    padding:50px 0;
}
.col-2 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}
.btn{
    display:inline-block ;
    background-color:#ff523b;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition:background 0.5s;
}
.btn:hover{
    background-color:#563434;
}
.header{
    background:radial-gradient( #fff);
}
.header row{
    margin-top:70px;
}

.categories{
   margin:70px 0;
}
.col-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width:1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.col-4{
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
}
.col-4 img{
    width:100%;
}
.title{
    text-align:center;
    margin:0 auto 88px;
    position:relative ;
    line-height:60px;
    color:black;
}
.title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute ;
    bottom:0;
    left:43%;
    transform:translateX(-50deg);
}
h4{
    color:black;
    font-weight:normal;
}
.col-4{
    font-size:14px;
}
.rating .fa{
    color:#ff523b;
}
.offer{
    background:radial-gradient(#C7EA46,#fff);
    margin-top:80px;
    padding:30px 0;
}
.offer .col-2 img{
    padding:30px;
}
.small{
    color:black;
}
.brands{
    margin:100px auto;
    display:inline-block ;
}
account-page{
    padding:50px 0;
}

.form{
   background:#90ee90;
    width:300px;
    height:400px;
    position:relative;
    text-align:center;
    padding:20px 0;
    margin:auto;
    box-shadow: 0 0 20px 0px(0,0,0,0.1);
    overflow:hidden;
}
.form span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor:pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;


}
.form form{
    max-width:300px;
    padding:0 20px;
    position:absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    cursor: pointer;
    border:none;
    margin:10px 0;
}
form .btn:focus{
    outline: none;
}
#Loginform{
    left: -300px;

}
#Regform{
    left:0;
}
form a{
    font-size:12px;
}
#indicator{
    width:100px;
    border: none;
    background-color: #ff523b;
    height:3px;
    margin-top:8px;
    transform: translateX(100px);
    transition: transform 1s;
}
.col-5{
    width:260px;
}
.col-5 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100%);
}
.col-5 img:hover{

    filter:grayscale(0);
}
.footer{
    background:#000;
    color:white;
    font-size:14px;
    padding:60px 0 20px;


}
.footer p{
     color:white;
}
.footer h3{
    color:#fff;
    margin-bottom:20px;
}
.play-store{
    width:200px;
    height:60px;
}
.apple-store{
    width:200px;
    height:60px;
}
.footer-col-1,.footer-col-4{
    min-width:250px;
    margin-bottom:20px;
}
.footer-col-1{
    flex-basis:30%;
}
.footer-col-4{
    flex-basis:12%;
    text-align:center;
}
ul{
    list-style-type:none;
}
footer hr{
    border:none;
    background:white;
    height:1px;
    margin:20px 0;
}
.copyright{
    text-align:center;
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}
.row-2{
   justify-content:space-between;
  margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding:5px;
}
select:focus{
    outline: none;
}
.pgn-btn{
    margin: 0 auto 80px;
}
.pgn-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;
    cursor: pointer;

}
.pgn-btn span:hover{
    background: #ff523b;
    color: #fff;

}

.single-Product{
    margin-top:80px;
}
.single-Product .col-2 img{
    padding:0;
}
.single-Product .col-2{
    padding:20px;
}
.single-Product h4{
    margin: 20px 0;
    font-weight: bold;
}
.single-Product select{
    padding:10px;
    display: block;
    margin-top:20px;
}

.single-Product input{
    padding-left: 10px;
    height:40px;
    width:50px;
    font-size:20px;
    margin-right: 10px;
    border:1px solid #ff523b;
}
input:focus{
    outline:none;
}
.single-Product .fa-indent{
    color: #ff523b;
}
.single-Product h1{
    font-size:25pt;
}
.single-Product p{
    font-size:13pt;
}






@media only screen and (max-width: 480px){
        nav ul{
            position:absolute;
            top:70px;
            left:0;
            width:100px;
            background:#333;
            overflow: hidden;
            transition: max-height 0.5s;
   }
        nav ul li{
            display:block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a{
            color:#fff;
        }
        .menu-icon{
            display:block;
            cursor: pointer;
        }
}



@media only screen and (max-width: 600px){
    .row{
        text-align:center;
    }
    .col-1, .col-2 , .col-3 , .col-4{
        flex-basis:100%;
    }
    .single-Product .row{
        text-align:left;
    }
    .single-Product .col-2{
        padding: 20px 0;
    }
}